body{
    background-color:#ecfda1;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.uk-navbar-item{
  color: #ccb2b2;
  padding-left: 45%;
}

#logo2{
    width: 60px;
    height: 60px;
    margin-right: 100%;
    padding: 10px;
}
.imagen {
    width: 120px;
    height: 140px;
    margin-right: 100%;
    padding: 10px;
}
#prueba{
    background-color: aquamarine;
}

.uk-navbar-container{
  background-color: #c7eb7a;
  font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px !important;
    
  }
.uk-navbar ul li:hover a{color:  rgb(70, 39, 180);
 }  



 .uk-navbar-item
{font-size: 18px !important;}

 .uk-navbar li{
    justify-content: space-around;
    padding-left: 60px;
    margin-right: 60px;
    color: #24262b;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 18px !important;
    
   
 }   

 .uk-navbar ul{
  color: #24262b;

 }
.uk-button{
  background-color: #d8d645;
  color: #000000;
}

.uk-button:hover{
  background-color:  rgb(45, 102, 83);
  color: #ffffff;
}
.boton{
  background-color:  rgb(45, 102, 83);
  color: #ffffff;
}

.boton:hover{
  background-color: #d8d645;
  color: #000000;
}

 #intento{
    border-right: 1px solid;
    margin-left: 70%;
 }

 #intento2{
    padding : 0 10px 0 10px
 }


.uk-section2{
    background-color:  rgb(195, 216, 175);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  /* background-color: rgb(45, 102, 83); */
    padding: 70px 0;
    background-color: rgb(124, 156, 109);
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #f1f3f2;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #d8d645;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #f5f2f2;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color:  rgb(127, 194, 171);;
}

/*responsive*/
@media(max-width: 900px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

::-webkit-scrollbar {
    display: none;
}

.seccion{
  background-color: #e3f59b;
}